body {
    background-color: black;
}

h2 {
    color: lightgray;
    margin-left: 20px;
    font-family: Hiragino Mincho Pro W3;
} 

h2.english {
    color: lightgray;
    margin-left: 20px;
    font-family: baskerville;
} 

p {
    color: lightgray;
    margin-left: 20px;
    font-family: Hiragino Mincho Pro W3;
}

p.english {
    color: lightgray;
    margin-left: 20px;
    font-family: baskerville;
}