body {
    background-color: white;
}

h2 {
    color: black;
    margin-left: 20px;
    font-family: Hiragino Maru Gothic Pro;
}

h2.english {
    color: black;
    margin-left: 20px;
    font-family: lucida sans unicode;
	font-size: 90%;
} 

p {
    color: black;
    margin-left: 20px;
    font-family: Hiragino Maru Gothic Pro;
font-size: 90%;
}

p.english {
    color: black;
    margin-left: 20px;
    font-family: lucida sans unicode;
}
