body {
    background-color: #FFF5E0;
}
h2 {
    color: #472400;
    margin-left: 20px;
    font-family: Hiragino Maru Gothic Pro;
}

h2.english {
    color: #472400;
    margin-left: 20px;
    font-family: lucida sans unicode;
} 

p {
    color: #472400;
    margin-left: 20px;
    font-family: Hiragino Maru Gothic Pro;
}

p.english {
    color: #472400;
    margin-left: 20px;
    font-family: lucida sans unicode;
} 